body {
  font-family: "Muli", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  letter-spacing: 0.2px;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #fff;
}

a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

button:hover,
button:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}


.navbar {
  width: 100%;
  padding: 10px 5px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.wrapper {
  width: 100%;
  background-color: #F7F8FC;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #363740;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}


#sidebar .logo span {
  display: block;
}

#sidebar ul.components {
  padding: 0;
}


#sidebar ul li>ul {
  margin-left: 45px;
}


#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: rgba(255, 255, 255, 0.8);
}


#sidebar ul li.active>a {
  background: transparent;
  color: #DDE2FF;
  padding: 14px 28px;
}

#sidebar ul li>a {
  background: transparent;
  color: #A4A6B3;
  padding: 14px 28px;
}

#sidebar ul li>a>i {
  color: #fff;
}


@media (max-width: 991.98px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none;
  }

  .nav-item {
    text-align: center;
  }

  .modal-position {
    left: 10px !important;
    width: 90% !important;
  }
}

#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


.navbar-light {
  background-color: #EBEBEB !important;
}

.active {
  background: rgba(159, 162, 180, .08);
  border-left: 1px solid white;
}

.dropdown-toggle::after {
  display: none;
}

.bg-light-line {
  background-color: #ededed;
  opacity: .1;
  margin: 20px 0;
}

.welcome-text {
  color: #A4A6B3;
  font-size: 19px;
  line-height: 24px;
  font-style: normal;
  letter-spacing: 0.4px;
  opacity: .7;
  padding-left: 30px;
  padding-top: 35px;
}

.restaurant-name {
  color: #000 !important;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.3px;
  font-weight: 500;
}

#navbarDropdown {
  color: #0015D6;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
}

.dropdown-menu {
  background-color: #EBEBEB !important;
}

.active-link {
  text-decoration: underline !important;
}

.row {
  margin: 0px;
}

.modal-header {
  border: none !important;
}

#cards>div>div {
  padding: 0px;
}

.card-title {
  font-size: 18px;
  color: #252733;
  line-height: 21px;
  font-weight: bold;
  letter-spacing: 0.3px;
}

.card-value {
  font-size: 48px;
  color: #000000;
  line-height: 60px;
  letter-spacing: 0.3px;
  font-weight: bold;
}

.card-sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #252733;
}

.card-label {
  background-color: #fff;
  border: 2px solid #ededed;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 6px !important;
  position: absolute;
  top: -30px;
  left: 20px;
}

.order-label-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  padding: 0px 50px;
  width: 250px;
  margin: 0 auto;
}

.order-label-title-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

.card-body-order {
  background: #FFFFFF !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12) !important;
  border-radius: 5px !important;
}

.order-no {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.text-general {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.order-status-title,
.name-field {
  color: #000000;
}

.general-fields {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.order-status-display {
  color: #575757;
  float: right;
}

.order-time {
  color: #575757;
}

.dinamic-field-details {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #575757;
  margin-top: -14px;
}

.order-details-link {
  color: #0015D6;
}

.order-total-price {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}

.modal-position {
  position: absolute;
  top: 7%;
  left: 20%;
  width: 75%;
}

.product-quantity {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #888888;
}

.product-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.product-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.final-price {
  background: #0015D6;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  display: inline-block;
  padding: 10px 35px;
}

.text-total,
.final-price-field {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.order-header-title,
.klanten-header-title,
.menukaart-header-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.4px;
  color: #252733;
}

.sort-filter-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #4B506D;
}

.sort-filter-link>a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000 !important;
}

.sort-filter-link {
  padding: 5px 5px;
}

.sort-filter-link:hover {
  background: #fff !important;
}

.dropdown-sort-filter {
  background: #F3F3F3 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}

.close-area {
  background-color: #fff !important;
  border: none !important;
  margin-bottom: -10px !important;
}

#client-id,
#user-email,
#user-name,
#user-total-orders,
#user-date-account {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.client-id,
.user-email,
.user-name,
.user-total-orders,
.user-date-account {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.blue-box {
  background: #0015D6;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 0 auto !important;
}

.new-item-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 0 auto;
}

.item-name-menukaart {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.item-category {
  background: #363740;
  border-radius: 6px;
  padding: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 10px;
}

.card-menukaart {
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}

.new-item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #252733;
}

.form-control {
  background: #F1F1F1;
}

.form-group>label {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #252733;
  margin-bottom: -5px;
}

.custom-file-input,
.custom-file-label::after {
  content: "+" !important;
  font-size: 16px;
  color: white;
  background-color: #0015D6;
}

.custom-file-label {
  background-color: #f1f1f1 !important;
}

.close-item-modal {
  background-color: #fff;
  border: 1px solid #0015D6;
  border-radius: 6px;
  color: #0015D6;
  padding: 10px 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4px;
}

.submit-item-modal {
  background-color: #0015D6;
  border: 1px solid #0015D6;
  border-radius: 6px;
  color: #fff;
  padding: 10px 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4px;
}

.btn-primary-blue {
  background-color: #0015D6;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  padding: 10px 75px;
}

.btn-primary-blue:hover {
  color: #efefef !important;
}

.information-restaurant {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.4px;
  color: #252733;
}

.information-restaurant-small {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.klantenkaart>p {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.4px;
  color: #252733;
}

.equal {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #252733;
}

.daily-hours {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}